{% extends "base.html" %}

{% block announce %}
<div class="icinga-header">
  <div class="icinga-logo">
    <a href="https://icinga.com"><img src="{{ base_url }}/assets/images/icinga-logo-white.png"/></a>
  </div>
  <div class="icinga-menu-wrapper">
    <ul class="icinga-menu">
      <li class="icinga-menu-entry"><a href="https://icinga.com/products">Products</a></li>
      <li class="icinga-menu-entry"><a href="https://icinga.com/support">Support</a></li>
      <li class="icinga-menu-entry"><a href="https://icinga.com/community">Community</a></li>
      <li class="icinga-menu-entry"><a href="https://icinga.com/learn">Learn</a></li>
      <li class="icinga-menu-entry"><a href="https://icinga.com/blog">Blog</a></li>
      <li class="icinga-menu-entry"><a href="https://icinga.com/get-started">Get Started</a></li>
    </ul>
  </div>
</div>
{% endblock %}
