
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i');

body{
    background-color: #f7f7f7;
    font-family: "Open Sans"
}

#icinga-menu {
    background: #0095bf;
    position: relative;
    width: 100%;
    height: 65px;
    line-height: 23px;
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
}

#icinga-menu-container{
    width: 80%;
    max-width: 1255px;
    text-align: left;
    margin: auto;
}

#icinga-menu-logo {
    width: 100%;
    height: 100%;
    position: absolute;
}

#icinga-menu-logo img {
    height: 62%;
    margin-top: 13px;
    margin-left: 2px;
}

#icinga-menu-main {
    padding-left: 185px;
    color: rgba(255,255,255,0.89);
    position: absolute;
}

#icinga-menu-main ul {
    float: left;
    padding: 0;
    padding-top: 10px;
}

#icinga-menu-main li {
    float: left;
    font-size: 18px;
    font-weight: 600;
    list-style: none;
}

#icinga-menu-main li a {
    padding: 6px 12px;
}

#icinga-menu-main-active a {
    background: rgba(0,0,0,0.2);
    border-radius: 0.25em;
    opacity: 1;
}

#icinga-menu-main li>a:hover {
    background: rgba(0,0,0,0.2);
    border-radius: 0.25em;
    opacity: 1;
    transition: all .4s ease-in-out;
}

#icinga-menu-secondary {
    color: rgba(255,255,255,0.89);
    float: right;
}

#icinga-menu-secondary ul {
    float: right;
    padding-top: 10px;
    padding-left: 20px;
}

#icinga-menu-secondary li {
    float: left;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
}

#icinga-menu-download {
    padding-right: 20px;
    padding-top: 2px;
}

#icinga-menu-contact {
    background-color: #23cb5b;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 4px;
}

.icinga-footer{
    background: #f7f7f7;
    color: #777;
}



#icinga-footer-menu {
    width: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
    float: left;
    font-size: 14px;
    line-height: 27px;
    border-bottom: 1px solid #ccc;
}

#icinga-footer-menu ul {
    float: left;
    width: 19%;
    margin-right: 5.5%;
}

#icinga-footer-menu-last {
    margin-right: 0!important;
}

#icinga-footer-menu li {
    list-style: none;
}

#icinga-footer-menu li a {
    color: #777;
}

#icinga-footer-legal {
    width: 100%;
}

#icinga-footer-legal li{
    color: #777;
    list-style: none;
    float: left;
    margin: 0;
    padding-right: 20px;
}

#icinga-footer-legal li:first-child{
    padding-right: 33%;
}

#icinga-footer-legal a{
    color: #777;
}

@media screen and (max-width:65em) {
    #icinga-menu {
        display: none;
    }
}
